---
import Dungeon from "@/layouts/Dungeon.astro";

import ListOfDungeons from "@/components/ListOfDungeons.astro";
---

<Dungeon title="Mazmorras">
  <main class="py-4">
    <header>
      <h1 class="text-4xl text-center font-semibold">Mazmorras</h1>
    </header>
    <ListOfDungeons />
  </main>
</Dungeon>
