---
import Layout from '@/layouts/Layout.astro'
import ListOfItems from '@/components/ListOfItems.astro'

export async function getStaticPaths() {
  return [
    { params: { id: "armas" } },
    { params: { id: "armaduras" } },
    { params: { id: "accesorios" } },
    { params: { id: "familiares" } },
    { params: { id: "sublimaciones" } }
  ];
}

const { id } = Astro.params

const ids = [
  {
    "name": "armas",
    "ids": [101, 108, 110, 111, 112, 113, 114, 115, 117, 189, 223, 253, 254]
  }, 
  {
    "name": "armaduras",
    "ids": [103, 119, 120, 132, 133, 134, 136, 138]
  }, 
  {
    "name": "accesorios", 
    "ids": [537, 646]
  }, 
  {
    "name": "familiares",
    "ids": [582]
  },
  {
    "name": "sublimaciones",
    "ids": [812]
  }
]

const title = id? String(id)[0].toUpperCase() + String(id).substring(1) : ''

---

<Layout title={title}>
  <main>
    <ListOfItems title={title} itemTypeIds={ids.find(item => item.name === id)?.ids} itemTypeName={id} />
  </main>
</Layout>
