---
import Layout from '../layouts/Layout.astro';

import ListOfItems from '@/components/ListOfItems.astro'
---

<Layout title="Wakpedia">
	<main class="max-w-[1120px] mx-auto">
		<h1 class="text-4xl font-bold">Wakpedia</h1>
		<ListOfItems />
	</main>		
</Layout>

<style>
	
</style>
