---
import Layout from '../layouts/Layout.astro'
import Hub from '@/components/hub.astro'
---

<Layout title="Wakpedia">
	<main class="max-w-[1200px] mx-auto">
		<Hub/>
		<p class="mt-4 text-center text-xl font-semibold">No nos hacemos responsables de la organización que Ankama tiene en su API</p>
	</main>		
</Layout>

<style>	
</style>
