---
import Layout from '../layouts/Layout.astro'
import Hub from '@/components/hub.astro'
---

<Layout title="Wakpedia">
	<main class="max-w-[1200px] mx-auto">
		<Hub/>
		<p class="mt-20 text-center text-xl font-semibold">
			<a href="https://www.wakfu.com/" target="_blank" class="underline hover:text-slate-300">Wakfu</a> es un MMORPG desarrollado y publicado por <a href="https://www.ankama.com/en" target="_blank" class="underline hover:text-slate-300">Ankama</a>. 
		</p>
		<p class="mt-4 text-center text-xl font-semibold">
			"Wakpedia" es un sitio web no oficial sin ningún tipo vínculo con Ankama que hace uso de su API puesta a disposición del público. Esta se puede encontrar en el siguiente <a href="https://www.wakfu.com/en/forum/332-development/236779-json-data" target="_blank" class="underline hover:text-slate-300"> enlace</a>
		</p>
		<p class="mt-2 text-center">
			Si tienes alguna sugerencia puedes contactar conmigo en Discord: visama396
		</p>
		<p class="text-center">
			<a class="underline hover:text-slate-300" href="https://github.com/Visama396/wakfupedia" target="_blank">Repositorio</a>
		</p>
	</main>		
</Layout>

<style>	
</style>
