---
import Layout from '../layouts/Layout.astro';

import ListOfItems from '@/components/ListOfItems.astro'
---

<Layout title="Wakpedia">
	<main class="max-w-[1120px] mx-auto">
		<h1 class="text-6xl text-center font-bold py-4">Wakpedia</h1>
		<ListOfItems itemTypeId="119" />
	</main>		
</Layout>

<style>	
</style>
