---
import Layout from '../layouts/Layout.astro';

import ListOfItems from '@/components/ListOfItems.astro'
---

<Layout title="Wakpedia">
	<main class="max-w-[1200px] mx-auto">
		<h1 class="text-[8rem] text-center font-bold py-4" style="line-height: 1">Wakpedia</h1>
		<ListOfItems itemTypeId="138" />
	</main>		
</Layout>

<style>	
</style>
