---
import Layout from '../layouts/Layout.astro';

import ListOfItems from '@/components/ListOfItems.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Wakfupedia</h1>
		<ListOfItems />
	</main>		
</Layout>

<style>
	
</style>
