---
import Layout from '../layouts/Layout.astro';
import Hub from '@/components/hub.astro'
import ListOfItems from '@/components/ListOfItems.astro'
---

<Layout title="Wakpedia">
	<main class="max-w-[1120px] mx-auto">
		<h1 class="text-8xl text-center font-bold py-4">Wakpedia</h1>
		<Hub/>
		
		
	</main>		
</Layout>

<style>	
</style>
