---
import Layout from '@/layouts/Layout.astro'

import recipes from '@recipes'

console.log(recipes)
---

<Layout title="Recetas">
  <h2 class="text-2xl font-semibold text-center">Recetas</h2>
</Layout>