---
// https://www.wakfu.com/en/forum/332-development/239038-string-logical-template-how-do-i-interpret-these-operators-translations?poid=1087235
// https://dev.to/heymarkkop/decoding-wakfu-s-action-effects-with-javascript-1nm2
import Layout from "@/layouts/Layout.astro";

import items from "@items";
import actions from "@actions";

let item1 = items[516]
console.log(item1.title.es)

for (const effect of item1.definition.equipEffects) {
  const effectParams = effect.effect.definition.params
  const numgerOfParams = effectParams.length / 2
  const effectActionId = effect.effect.definition.actionId
  const action = actions.find(action => action.definition.id === effectActionId)
  const actionDesc = action.description.es
  let actionDescription = action.description.es
  if (actionDescription.includes("[#1]"))
    actionDescription = actionDescription.replaceAll("[#1]", `${effectParams[0] + effectParams[1] * item1.definition.item.level}`)
  else if(actionDescription.includes("[#2]"))
    actionDescription = actionDescription.replaceAll("[#2]", `${effectParams[2] + effectParams[3] * item1.definition.item.level}`)
  else if(actionDescription.includes("[#3]"))
    actionDescription = actionDescription.replaceAll("", "")
  actionDescription = actionDescription.replace("[~3]", `${numgerOfParams >= 3}`)
  console.log(actionDescription)
}
---

<Layout title="Test">
  <h2 class="text-3xl font-bold">Test</h2>
  <!-- <section class="grid grid-cols-4 gap-4">
    {
      items.map((item) => {
        return <div class="shadow rounded-md bg-[#224]">{item.title.es}</div>;
      })
    }
  </section>-->
</Layout>
