---
import Layout from '@/layouts/Layout.astro'
import client from '../utils/database'

client.query("CREATE TABLE IF NOT EXISTS equipments( id integer NOT NULL, level integer, rarity integer, type integer, sprite integer, name_es text, name_en text, name_fr text, name_pt text, desc_es text, desc_en text, desc_fr text, desc_pt text, effects integer[], CONSTRAINT equipments_pkey PRIMARY KEY (id))")
client.query("CREATE TABLE IF NOT EXISTS jobs( id integer NOT NULL, name_es text, name_en text, name_fr text, name_pt text, CONSTRAINT jobs_pkey PRIMARY KEY (id))")
client.query("CREATE TABLE IF NOT EXISTS states( id integer NOT NULL, name_es text, name_en text, name_fr text, name_pt text, desc_es text, desc_en text, desc_fr text, desc_pt text, CONSTRAINT states_pkey PRIMARY KEY (id))")
client.query("CREATE TABLE IF NOT EXISTS actions( id integer NOT NULL, desc_es text, desc_en text, desc_fr text, desc_pt text, CONSTRAINT actions_pkey PRIMARY KEY (id))")
client.query("CREATE TABLE IF NOT EXISTS effects( id integer NOT NULL, action integer, params real[], CONSTRAINT effects_pkey PRIMARY KEY (id))")
---
<Layout title="Testing 2">
    <h2>Inserting actions and states</h2>
</Layout>