---
import Layout from "@/layouts/Layout.astro";
import { parseEffect } from "./parseEffect"
import items from "@items"

const equipableItemIds = [101]

const equipableItems = items.filter(item => equipableItemIds.includes(item.definition.item.baseParameters.itemTypeId))

const rarityColorsBorder = ["#d3d3d3", "#AFF650", "#fdb52e", "#FDED05", "#F72BE5", "#2ECDF9", "#FE8EE9"]
const rarityColorsBackground = ["#838383", "#66a810", "#af7b19", "#bdb109", "#c722b9", "#239bbd", "#c06ab0"]

equipableItems.sort((a, b) => a.definition.item.level - b.definition.item.level)
---
<Layout title="Test 2">
  <section class="grid grid-cols-4 gap-4 px-4">
    {
      equipableItems.map((item) => {
        return (
          <article class={`bg-[${rarityColorsBackground[item.definition.item.baseParameters.rarity-1]}] p-4 rounded-lg border-2`} style={`border-color: ${rarityColorsBorder[item.definition.item.baseParameters.rarity-1]}; box-shadow: 0 0 5px ${rarityColorsBorder[item.definition.item.baseParameters.rarity-1]}`}>
            <h2 class="text-xl font-bold">{item.title.es}</h2>
            <div>
              {
                item.definition.equipEffects.map((effect) => {
                  return <p>{parseEffect(effect, item.definition.item.level)}</p>
                })
              }
            </div>
          </article>
        )
      })
    }
  </section>
</Layout>
