---
import Layout from "@/layouts/Layout.astro";
import { parseEffect } from "./parseEffect"
import items from "@items"

const equipableItemIds = [101]

const equipableItems = items.filter(item => equipableItemIds.includes(item.definition.item.baseParameters.itemTypeId))

const rarityColors = ["#A8A8A8", "#AFF650", "#E9A526", "#FDED05", "#F72BE5", "#2ECDF9", "#FE8EE9"]

console.log(equipableItems)
---
<Layout title="Test 2">
  <section class="grid grid-cols-4 gap-4 px-4">
    {
      equipableItems.map((item) => {
        return (
          <article class={`bg-slate-800/80 p-4 rounded-lg border-2`} style={`border-color: ${rarityColors[item.definition.item.baseParameters.rarity]}; box-shadow: 0 0 10px ${rarityColors[item.definition.item.baseParameters.rarity]}`}>
            <h2 class="text-xl font-bold">{item.title.es}</h2>
            <div>
              {
                item.definition.equipEffects.map((effect) => {
                  return <p>{parseEffect(effect, item.definition.item.level)}</p>
                })
              }
            </div>
          </article>
        )
      })
    }
  </section>
</Layout>
