---
const { dungeon } = Astro.props;

const slug = dungeon.name.toLowerCase().replaceAll(" ", "-");
---

<a
  href={`/guides/dungeons/${dungeon.id + "-" + slug}`}
  id={slug}
  class="bg-[#330] rounded-md h-[10rem] flex flex-col flex-1 justify-end dungeon-item"
  style={`background-image: url('/dungeon_thumbnails/${slug}.webp'); background-size: cover; background-repeat: no-repeat;`}
>
  <div class="absolute p-4 bg-black/75 rounded-md self-end">
    <h3 class="text-xl font-semibold w-[100%] px-1">
      {dungeon.name}
    </h3>
    <p class="px-1">Nivel {dungeon.level}</p>
  </div>
</a>

<style is:inline>
  a.dungeon-item {
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
  }

  a.dungeon-item:hover {
    scale: 105%;
    background-size: 110%;
  }
</style>
