---
const { dungeonObject } = Astro.props;

console.log(dungeonObject);
---

<section>
  <header>
    <h1>{dungeonObject.name}</h1>
  </header>

  <section>
    <h3>Guía</h3>
    {
      dungeonObject.guide.rooms.map((room) => (
        <div>
          <img src={room.image} alt={room.description} />
          <p>{room.description}</p>
        </div>
      ))
    }
  </section>
</section>
