---
const { dungeon } = Astro.props;

const slug = dungeon.name.toLowerCase().replaceAll(" ", "-");
---

<article class="group bg-[#330] rounded-md shadow h-[10rem] flex flex-col flex-1">
  <figure class="filter sepia">
    <img
    src={`/dungeon_thumbnails/${slug}.webp`}
    alt={`Foto de la mazmorra ${dungeon.name}`}
    class="group-hover:zoom rounded-md object-cover h-[10rem] w-[100%] transition"
  />
  </figure>
  <div class="absolute h-[10rem] p-4 rounded-md">
    <h3 class="text-xl font-semibold w-[100%] bg-black/75 px-1">
      {dungeon.name}
    </h3>
    <p class="bg-black/75 px-1">Nivel {dungeon.level}</p>
  </div>
</article>
