<section>
  <h2 class="text-center text-3xl font-semibold mb-2">
    Equipamientos y mascotas
  </h2>
  <div class="px-3 flex flex-wrap justify-center gap-5 mb-2">
    <a
      class="bg-slate-600/80 flex-1 rounded-md p-6 text-center hover:bg-slate-800/80"
      href="/armas">Armas y Escudos</a
    >
    <a
      class="bg-slate-600/80 flex-1 rounded-md p-6 text-center hover:bg-slate-800/80"
      href="/armaduras">Armaduras</a
    >
    <a
      class="bg-slate-600/80 flex-1 rounded-md p-6 text-center hover:bg-slate-800/80"
      href="/accesorios">Accesorios</a
    >
    <a
      class="bg-slate-600/80 flex-1 rounded-md p-6 text-center hover:bg-slate-800/80"
      href="/familiares">Familiares</a
    >
  </div>
</section>
