---
import actions from '@actions'
import recipeCategories from '@recipeCategories'

const { item } = Astro.props
---

<div class="bg-zinc-600/80 rounded-md p-2 flex flex-col gap-4">
  <header>
    <h2 class="text-xl mb-2">{item["title"].en}</h2>
    <figure>
      <img class="bg-zinc-800/70 p-2 rounded-md" src={`https://tmktahu.github.io/WakfuAssets/items/${item["definition"]["item"].graphicParameters.gfxId}.png`} />
    </figure>
  </header>
  <footer class="bg-zinc-500/30 p-2 rounded-md basis-[100%]">
    <div class="flex gap-1 mb-1">
      <figure>
        <img src={`https://tmktahu.github.io/WakfuAssets/itemTypes/${item["definition"]["item"]["baseParameters"]["itemTypeId"]}.png`} />
      </figure>
      <figure>
        <img src={`https://tmktahu.github.io/WakfuAssets/rarities/${item["definition"]["item"]["baseParameters"]["rarity"]}.png`} />
      </figure>
    </div>
      
      {
        item["definition"]["equipEffects"].map((effect) => {
          if (effect["effect"]["description"] == undefined) {
            let actionId = effect["effect"]["definition"]["actionId"]
            let actionDesc = actions.filter(action => action["definition"]["id"] == actionId)
            let desc = actionDesc[0]["description"].en.replaceAll("[#1]", effect["effect"]["definition"]["params"][0])
            
            desc = desc.replace("[el1]", "Fire")
            desc = desc.replace("[el2]", "Water")
            desc = desc.replace("[el3]", "Earth")
            desc = desc.replace("[el4]", "Air")

            if (actionId == 1068) {
              //desc = "3"
            }

            return (
              <p>{desc}</p>
            )
          } else {
            let desc = effect["effect"]["description"].en
            desc = desc.replaceAll("[#1]", effect["effect"]["definition"]["params"][0])

            return (
              <p>{desc}</p>
            )
          }
        })
      }
  </footer>
</div>