---
import items from '@items'

import Item from '@/components/Item.astro'

console.log(items.length)
---

<section class="flex flex-wrap gap-3">
    {
        items.map(item => {
            if (item["definition"]["item"]["baseParameters"]["itemTypeId"] == 134)
                return (
                    <Item item={item} />
                )
        })
    }
</section>