---
import "@fontsource/kolker-brush";
import "@fontsource-variable/onest";
import Hero from "@/components/Hero.astro";
import firebase from "../utils/firebase"

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Enciclopedia de Wakfu" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="generator"
      content="Página de ayuda para jugadores de Wakfu en español proporcionando información sobre objetos del juego en español"
    />
    <meta name=“robots” content="index, follow, translate, ">
    <link rel="canonical" href="https://wakpedia.visamalog.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Enciclopedia de Wakfu, armas, armaduras, mascotas y sublimaciones" />
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:url" content="https://wakpedia.visamalog.com" />
    <title>{title}</title>
  </head>
  <body>
    <Hero />
    <slot />
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
  </body>
</html>

<style is:global>
  html {
    font-family: "Onest Variable", sans-serif;
  }

  h1 {
    font-family: "Kolker Brush", sans-serif;
  }

  body {
    background-color: #334;
    color: white;
  }

  @media (prefers-color-scheme: light) {
    body {
      background-color: #bcd;
      color: #334;
    }
  }
</style>
